body{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container{
    margin: 0 auto;
    position: relative;
}
h1 {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-family: "Muli", sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(10, 10, 10, 0.8);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    font-family: "Multi", sans-serif;
    color: rgba(10, 10, 10, 0.8);
    margin: 0;
    padding: 0;
}
/**** NAVBAR ****/
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.2rem 0;
    box-shadow: none;
    min-height: 3.25rem;
}
.navbar>.container {
    display: flex;
    width: 100%;
    min-height: 3.25rem;
}

@media screen and (min-width: 1088px) {
    .container{
        max-width: 960px;
        width: 960px;
    }
}
@media screen and (min-width: 1280px) {
    .container{
        max-width: 1152px;
        width: 1125px;
    }
}
.navbar-brand{
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}
.navbar-item{
    position: relative;
    display: block;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    flex-grow: 0;
    flex-shrink: 0;
}
.navbar-item img {
    max-height: 3.7rem;
}

/**** Initial Section ****/
.hero{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}
.hero.is-white{
    background-color: #fff;
    color: #0a0a0a;
}
.has-text-centered {
    text-align: center;
}
.hero-body{
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}
.columns{
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}
@media screen and (min-width: 769px) {
    .columns:not(.is-desktop) {
        display: flex;
    }
}
.columns:last-child {
    margin-bottom: -.75rem;
}
.columns.is-centered {
    justify-content: center;
}
/*@media screen and (min-width: 769px), print .columns:not(.is-desktop) {
    display: flex;
}*/
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}
.hero.is-white .title {
    color: #293347;
}
.title {
    font-weight: 800;
    line-height: 1.125;
    word-break: break-word;
}
h1.is-size-2-tablet.is-size-1-desktop {
    transition: 0.3s all ease-in;
}
@media screen and (min-width: 769px) {
    .is-size-2-tablet {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 1088px) {
    .is-size-1-desktop {
        font-size: 3rem;
    }
}
.subtitle {
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    word-break: break-word;
    color: rgba(10, 10, 10, 0.9);
    margin-bottom: 1.5rem;
}
.is-size-4-desktop {
    font-size: 1.2rem;
    transition: 0.4s all ease-in;
}
@media screen and (min-width: 1088px) {
    .is-size-4-desktop {
        font-size: 1.5rem;
    }
}
.img {
    height: auto;
    max-width: 100%;
}
.avatar {
    margin: 2rem 0;
    width: 150px;
}
@media screen and (min-width: 769px) {
    .avatar {
        width: 210px;
    }
}

.hero-foot {
    padding: 0rem 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
}
.hero-foot img.is-bottom {
    margin-bottom: -0.4rem;
    width: 90%;
}
@media screen and (min-width: 769px) {
    .hero-foot img.is-bottom {
        margin-bottom: -0.45rem;
        max-width: 860px;
    }
}

/***** SECCION DOS *****/
.section {
    display: block;
    padding: 5rem 1.5rem;
}
.section.is-primary {
    background-color: #293347;
    color: #fff;
}
.subtitle.is-size-5-desktop {
    color: #fff !important;
}
@media screen and (min-width: 1088px) {
    .section.is-medium {
        padding: 9rem 1.5rem;
    }
}
.section.is-long {
    padding-bottom: 14rem;
}
@media screen and (min-width: 769px) {
    .section.is-long {
        padding-bottom: 16rem;
    }
}
@media screen and (min-width: 1280px) {
    .section.is-long {
        padding-bottom: 18rem;
    }
}
.section.skills {
    margin-top: -14rem;
    padding-bottom: 1rem;
}
.box {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    color: #293347;
    display: block;
    padding: 1.25rem;
}
.section.skills .box {
    padding: 0;
}
.container.is-narrow {
    max-width: 1000px;
}
.section.skills .box .content .columns {
    margin-left: 0;
    margin-right: 0;
}
.section.skills .box .content .columns .column {
    padding: 50px 30px;
    border-bottom: 1px solid #E6ECF8;
    border-right: 0px solid #E6ECF8;
}
@media screen and (min-width: 769px){
    .section.skills .box .content .columns .column {
        border-bottom: 0px solid #E6ECF8;
        border-right: 1px solid #E6ECF8;
        padding: 60px 35px;
    }
}
@media screen and (min-width: 1280px){
    .section.skills .box .content .columns .column {
        padding: 60px 45px;
    }
}
/***** SECCION TRES *****/
img {
    height: auto;
    max-width: 100%;
}
.image {
    display: block;
    position: relative;
}
.content figure {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}
.section.skills .box .content .columns .column figure.image {
    margin: 0 auto 2em;
}
.content figure img {
    display: inline-block;
}
.section.skills .box .content .columns .column figure.image img.is-skill-icon {
    height: 4rem;
    width: auto;
    color: #124dc4;
}
.content h1:not(:first-child) {
    margin-top: 1em;
}
.title:not(:last-child) {
    margin-bottom: 1.5rem;
}
.content p{
    font-size: 18px;
}
@media screen and (min-width: 1088px) {
    .content p {
        font-size: 20px;
        line-height: 30px;
    }
}
.section p {
    margin-bottom: 2rem;
}
.content p:not(:last-child) {
    margin-bottom: 2em;
}
@media screen and (min-width: 769px) {
    .section.skills .box .content .columns .column p {
        font-size: 18px;
    }
}
.has-text-primary {
    color: #293347;
}
.has-text-weight-normal {
    font-weight: 700 !important;
}
.section.skills .box .content .columns .column p.list-title {
    margin-top: 50px;
    margin-bottom: 8px;
}
.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}
.section.skills .box .content .columns .column ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
}
.content li+li {
    margin-top: 0.25em;
}
@media screen and (min-width: 769px) {
    .section.skills .box .content .columns .column ul li {
        font-size: 18px;
    }
}
.section p.tools {
    margin-bottom: 0;
}